# Ignore virtual environment
venv/
env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE and editor files
.vscode/
.idea/
*.swp

# Ignore environment variables
.env
*.sqlite3
